*.json
exercise2/exercise2.1/exercise2.1
exercise2/exercise2.2/exercise2.2
exercise2/exercise2.3/exercise2.3
exercise2/exercise2.4/exercise2.4
exercise2/exercise2.5/exercise2.5
exercise2/exercise2.5/exercise2.6
exercise2/exercise2.7/exercise2.7
exercise3/exercise3.1
testi/*
.gitignore
assignments/a123
assignments/a124/a124
assignments/a125/a125
assignments/a131/
assignments/a132/
assignments/a123/a123
assignments/a131/a131ex1/ex1
assignments/a131/a131ex2/ex2
assignments/a131/a131ex3/ex3
assignments/a131/a131ex4/ex4
assignments/a131/a131ex5/ex5
assignments/a131/a131ex6/ex6
assignments/a131/a131ex7/ex7
assignments/a131/a131ex8/ex8
assignments/a131/a131ex9/ex9
assignments/a131/a131ex10/ex10
assignments/a132/a132main
assignments/a141/a141ex1/a141ex1
assignments/a141/a141ex2/a141ex2
assignments/a141/a141ex3/a141ex3
assignments/a141/a141ex4/a141ex4
assignments/a141/a141ex5/a141ex5
assignments/a141/a141ex6/a141ex6
assignments/a221/build/
assignments/a221/main
assignments/a211/a211
assignments/a231/main
assignments/a222/build/
assignments/a222/main
CMakeLists.txt