*.json
exercise2/exercise2.1/exercise2.1
exercise2/exercise2.2/exercise2.2
exercise2/exercise2.3/exercise2.3
exercise2/exercise2.4/exercise2.4
exercise2/exercise2.5/exercise2.5
exercise2/exercise2.5/exercise2.6
exercise2/exercise2.7/exercise2.7
exercise3/exercise3.1
testi/*
assignments/a121